
<div id="body">

<img id="earth" src="/assets/donutearth.jpeg" alt="earth">
	
	<header>
		<h1>Connexion à ma page personnalisée</h1>
	</header>
	
	<form >
	
	<section class="infos_generales">
	<p>
	<label for="pseudo">Pseudo :</label><br>
	<input type="text" id="pseudo" required="required"/>
	</p>


	</section>
	<section class="infos_generales">
	<p>
	<label for="mdp">Mot de passe :</label><br>
	<input type="password" id="mdp"  placeholder="Mot de passe" required="required"/>
	</p>
	</section>

	<button id="bouton_validation" type="button" (click)= "login()">Login</button>
	
  </form>
</div>