<section>

  <h2>Detail {{ user.pseudo }}</h2>

  <div>
    <p> ID = {{ user.id }}, PSEUDO = {{ user.pseudo }}, PASSWORD = {{ user.password }}</p>
  </div>

  

  <a routerLink="/users/list">Go back</a>

</section>