
<div id="body">

	<header>

		<div id="logo">
			<img src="http://www.fixmarocket.com/logo.png" alt="">
		</div>

		<div>
			<span id="nomSite">
				<h1>Vegan & Écolo</h1>
			</span>
		</div>
		
	

		<div id="lien">

			<span id="photos"> <a
				href="https://www.google.com/search?q=vegan&rlz=1C1CHBF_frFR837FR837&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj3mpaU2MfhAhWIERQKHcLUDTkQ_AUIEygA&biw=1600&bih=789"
				target="_blank">
					<style type="text/css">
					a:link {
			text-decoration: none;
			}
			</style> Toutes nos photos
			</a>
			</span> <span id="recette"> <a
				href="https://vegan-pratique.fr/recettes/" target="_blank">Toutes
					nos recettes</a>
			</span> <span id="siteAVisiter"> <a
				href="https://www.google.com/search?rlz=1C1CHBF_frFR837FR837&biw=1600&bih=789&ei=3AOvXMJi9MqDB7iaipgH&q=vegan&oq=vegan&gs_l=psy-ab.3..0i67l4j0j0i67j0j0i67j0j0i67.2270.3016..3300...0.0..0.73.480.8....3..0....1..gws-wiz.......0i71j0i7i30.kdKx6-bAEws"
				target="_blank">Site à visiter</a>
			</span>
			
			<span id="connect">
				<%
				String ex2 = (String) session.getAttribute("pseudo");
				if (ex2==null){
					out.println("<h2><a href=Connexion.jsp><button id = 'connexion' style=display:>Connexion</button></a></h2>");	
				}else{
					out.println("<h2><a href=Connexion.jsp><button id = 'déconnexion' style=display:>Déconnexion</button></a></h2>");
				}
				%>
			</span>

		</div>
		
		

	</header>

	<div id="bloc1">

		<article id="photo1">

			<img
				src="https://foodrevolution.org/wp-content/uploads/2018/01/blog-featured-veganism1-20180117-1430.jpg"
				alt="photo1">

		</article>

		<article id="action1">



			<div id="texteAction">

				<span id="bonjour">
				 <%
				 	
 					String ex = (String) session.getAttribute("pseudo");
				 	if (ex==null){
				 		out.println("Bonjour inconnu,");
				 	}else{
 					out.println("Bonjour " + ex + "," + "<br>");}
 				%>
				</span> 
				<br>
				Interréssé.e par un moyen de défendre ta cause ? Nous organisons des actions régulièrement. Les actions
				vont de la manifestation pacifiste à la destruction de boucherie (cf Archy). Dans la section photo vous pouvez observez 
				les photos de nos dernières manifestations. Nous millitons à la fois pour les animaux et à la fois pour l'environnement : 
				si nous joignons nos forces nous pouvons changer le monde mes amis. Faites un tour sur notre page ecolo !
				<br>
				
			</div>

			<a href="PageEcolo.jsp" id="lienBoutonEcolo"><button id="boutonEcolo">Page Ecolo</button></a>


		</article>

		<article id="photo2">

			<img
				src="https://www.zitty.de/wp-content/uploads/2018/08/Zitty2918-Cover_Vegan-2883-Kopie-2.jpg"
				alt="photo2">

		</article>

	</div>

	<div id="bloc2">

		<article id="recette1">

			<article class="card">

				<header class="card__thumb">
					<a href="http://www.markal.fr/produit/orge-a-loriental-2/"
						target="_blank"> <img
						src="http://www.markal.fr/media/orge-oriental.jpg">
					</a>
				</header>

				<div class="card__body">
					<div class="card__category">
						<a href="http://www.markal.fr/produit/orge-a-loriental-2/"
							target="_blank">Recette</a>
					</div>
					<h2 class="card__title">
						<a href="http://www.markal.fr/produit/orge-a-loriental-2/"
							target="_blank">Orge à l'oriental</a>
					</h2>
					<div class="card__subtitle">Les saveurs d'orient sans égorger
						d'agneau</div>
					<p class="card__description">Cette recette vous enivreras des
						saveurs du moyen-orient. Plus besoin d'aller prendre de risque
						pour manger un couscous en Palestine puisque vous pouvez
						tranquillement le faire chez vous désormais. Et cela, sans
						protéine animales mon petit pote.</p>
				</div>

			</article>

		</article>

		<article id="video1">

			<iframe width="560" height="315"
				src="https://www.youtube.com/embed/ojsmoEqtNwU" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>

			<br />


			<div id="texteVideo">
				<h3>Un monde vegan ? Possibilité ou utopie ?</h3>
				<h5>Un bon début de réponse avec ce petit reportage du Monde.</h5>
			</div>


		</article>

		<article id="recette2">

			<article class="card">

				<header class="card__thumb">
					<a
						href="https://www.lodeurducafe.com/2016/11/curry-potimarron-lentilles-epinards/"
						target="_blank"> <img
						src="https://www.lodeurducafe.com/wp-content/uploads/2016/11/curry-potimarron.jpg">
					</a>
				</header>

				<div class="card__body">
					<div class="card__category">
						<a
							href="https://www.lodeurducafe.com/2016/11/curry-potimarron-lentilles-epinards/"
							target="_blank">Recette</a>
					</div>
					<h2 class="card__title">
						<a
							href="https://www.lodeurducafe.com/2016/11/curry-potimarron-lentilles-epinards/"
							target="_blank">Curry végéterien</a>
					</h2>
					<div class="card__subtitle">Un indien chez vous</div>
					<p class="card__description">Christophe Colomb s'est trompé et
						est allé en Amérique. Avec cette recette impossible de vous
						tromper c'est bien en Inde que vous allez. Et cela sans matières
						animales.</p>
				</div>

			</article>

		</article>

	</div>

	<footer>

		<div id="logofooter">
			<img src="http://www.fixmarocket.com/logo.png" alt="">
		</div>

		<div id="liensfooter">

			<div id="partenaires">
				Nos partenaire : <br>
				<ul>
					<li><a class="lienfooter" href="https://anv-cop21.org/"
						target="_blank">ANV COP-21</a></li>

					<li><a class="lienfooter" href="https://alternatiba.eu/"
						target="_blank">Alternatiba</a></li>

					<li><a class="lienfooter"
						href="https://www.anonymousforthevoiceless.org/" target="_blank">Anonymous
							for the voiceless</a></li>

				</ul>

			</div>

			<div id="suivezNous">
				Suivez nous :
				<ul>
					<li><a class="lienfooter" href="" target="_blank">Facebook</a></li>

					<li><a class="lienfooter" href="" target="_blank">Twitter</a></li>

					<li><a class="lienfooter" href="" target="_blank">Instagram</a></li>

				</ul>
			</div>

			<div id="contact">
				Contact:
				<ul>
					<li class="lienfooter">Email : contact@veganetecolo.com</li>

					<li class="lienfooter">Téléphone : 03 89 64 78 12</li>

					<li class="lienfooter">Adresse : 15 rue de Saint-Maure, 75 003
						Paris</li>

				</ul>
			</div>

		</div>

	</footer>
</div>
