<div id="body">

	<img id="earth" src="images/earth.jpg" alt="earth">
	
	<header>
		<h1>S'inscrire à Vegan-Ecolo !</h1>
	<span id="boutoninscrit">

	<a href="/Vegane-ecolo/Connexion2.jsp"><button id="boutondejainscrit">Je suis déjà inscrit</button></a>

	</span>
	</header>
	
	<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
	

		<section class="infos_generales">

		<p id="introduction">
		Dîtes-nous en plus sur vous :
		</p>

		<p>
		<label for="pseudo">Pseudo :<br>
		<input type="text" id="pseudo" formControlName="pseudo" required>
		</label>	
		</p>

		<p>
		<label for="age">Mot de passe :</label><br>
		<input  type="password" id="mdp" formControlName="mdp" placeholder="Mot de passe" required>
		</p>
			
		<p>
		<label for="age">Age :</label><br>
		<input type="text" id="age" formControlName="age" placeholder="Âge" required>
		</p>

		<p>
		<label for="département">Département :</label><br>
		<input type="text" id="departement" formControlName="departement" placeholder="Département" required>
		</p> 
		
		</section>
	
	
		<section id="infos_particulieres">

		Cochez la case qui vous correspond :<br> 

			<input type="radio" formControlName="ideologie" value="carniste" id="carniste"/>Vous mangez des animaux (terrestres ou marins).<br>
			<input type="radio" formControlName="ideologie" value="vg" id="vg"/>Vous êtes végétarien-ne ou végétalien-ne.<br>
			<input type="radio" formControlName="ideologie" value="vegane" id="vegane"/>Vous êtes végane.<br>

			<p>
			<label for="animaliste">Êtes-vous militant-e animaliste? </label><br>
			<input type="radio" formControlName="militantismeAnimaux" value="oui" id="oui"/>Oui<br>
			<input type="radio" formControlName="militantismeAnimaux" value="non" id="non"/>Non<br>
			</p>

			<p> Êtes-vous écolo? <br> 
			<input type="radio" formControlName="ecologie" value="non" id="non"/>Vous n'essayez pas particulièrment d'avoir moins d'impact sur l'environnement<br>
			<input type="radio" formControlName="ecologie" value="moderement" id="moderement"/>Vous adaptez modérément votre mode de vie.<br>
			<input type="radio" formControlName="ecologie" value="beaucoup" id="beaucoup"/>Vous faîtes beaucoup de choses pour réduire votre impact.<br>
			</p>

			<p>
			<label for="ecologiste">Êtes-vous militant-e écolo? </label><br>
			<input type="radio" formControlName="militantismeEcolo" value="oui" id="oui"/>Oui<br>
			<input type="radio" formControlName="militantismeEcolo" value="non" id="non"/>Non<br>
			</p>

			<button id="bouton_validation" (click)="createAccount()" type="submit" id="bouton_envoi"> Submit </button>

		</section>
	</form>
	
</div>